body{
	background-color: #5998ad;
	font-family: cursive !important;
}

.bg-light {
  background-color: #b88429 !important;
  border: 1px solid black;
}

.nav-link{
	color: black !important;
}

.navbar-toggler {
  border: 1.75px solid maroon !important;
}

.navbar-toggler:hover{
  border: 1.75px solid green !important;
}

.navbar-brand{
	font-size: 1.9em;
	font-weight: bold;
}

.navbar-nav{
	background-color: skyblue;
	border-radius: 5px;
}

hr{
	border: 1px solid grey;
	width: 250px;
	border-radius: 150%;
	margin: 0px auto 0px;
}

h2{
	margin-top: 10px;
}

p{
	font-size: 1.2em;
}

.container{
	background-color: #b88429;
	border-radius: 7px;
}

.marg{
		margin:5px 30px 15px !important;
	}
